mat-card {
  background-color: #44475a;
}

mat-card-subtitle a {
  padding-left: 0.5%;
  color: #8be9fd;
  text-decoration: solid;
}

.quebrar-linha {
  margin-bottom: 300px;
}

.mat-card-image {
  height: 15%;
  width: 15%;
  margin: auto;
  display: block;
}

mat-card-actions {
  text-align: center;
}

mat-card-actions button {
  background-color: #6272a4;
}

mat-card-actions .button-delete {
  background-color: #ff5555;
}
