<mat-card>
  <mat-list *ngIf="filme; else semRegistro">
    <mat-card-header>
      <img mat-card-image [src]="filme.urlFoto || semFoto">
    </mat-card-header>
    <mat-list-item> Título: {{filme.titulo}} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Data de lançamento: {{filme.dtLancamento | date: 'dd/MM/yyyy' }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Gênero: {{filme.genero}} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="quebrar-linha"> Descrição: {{filme.descricao}} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Nota: <a [href]="filme.urlIMDb" target="_blank"> {{ filme.nota }} </a> </mat-list-item>
  </mat-list>
  <mat-card-actions>
    <button mat-raised-button (click)="editar()">Editar</button>
    <button mat-raised-button (click)="excluir()">Excluir</button>
  </mat-card-actions>
</mat-card>

<ng-template #semRegistro>
  <h1 class="full-width main-div">Nenhum registro encontrado!</h1>
</ng-template>
