* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    font-family: cursive;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #4267B2;
}

.cabecalho-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
}

.cabecalho-perfil img {
    margin-top: 1rem;
    height: 15rem;
    width: 15rem;
    border-width: 0.25rem;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
}

.cabecalho-perfil h1 {
    margin-top: 1rem;
    color: white;
    font-family: cursive;
    font-style: italic;
}

.secao-principal {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border: #4267B2;
    border-radius: 1%;
    background-color: white;
}


.secao-principal-subtitulo {
    margin-top: 1rem;
    text-transform: uppercase;
    color: rgb(95, 90, 90);
    border-width: 0.1rem;
    border-style: solid;
    border-color: #4267B2;
    padding: 1rem;
}

.secao-principal-postagem {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.secao-principal-titulo-postagem h3 {
    margin-top: 1rem;
    color: rgb(95, 90, 90);
    text-decoration: none;
}

.sessao-principal-conteudo-postagem {
    margin-top: 1rem;
    text-transform: capitalize;
    text-align: center;
    color: rgb(95, 90, 90);
}


.rodape-fim-pagina {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #4267B2;
    border-radius: 1%;
    background: white;
    margin-bottom: 1rem;
}

.rodape-fim-pagina ul {
    list-style-type: none;
    text-align: center;
}

.rodape-fim-pagina ul h4 {
    margin-top: 1rem;
    color: rgb(90, 90, 90);
    text-transform: uppercase;
    padding: 1rem;
    border-width: 0.1rem;
    border-color: #4267B2;
    border-style: solid;
}

.rodape-fim-pagina ul li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}