.card {
    background-color: white;
}

.card .card-body .card-actions {
    margin-top: 10px;
}

.card .card-body .card-actions .card-link {
    padding: 0.5rem;
    background-color: #37474F;
    color: #f8fcff;
    border-radius: 0.25rem;
}