<div [formGroup]="formGroup">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{titulo}}</mat-label>
    <input  matInput
            [placeholder]="titulo"
            [name]="controlName"
            [formControlName]="controlName">
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">Campo obrigatório</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'minlength')">
      Campo precisa ter no mínimo {{validacao.lengthValidar(formControl, 'minlength')}} caracteres
    </mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'maxlength')">
      Campo pode ter no máximo {{validacao.lengthValidar(formControl, 'maxlength')}} caracteres
    </mat-error>
  </mat-form-field>
</div>

<!-- Anotações 
- comando para criar componentes no angular:
ng g (generate) c (component) shared/components/campos/input-text (caminho, e nome do arquivo) --nospec (evita a criação de um arquivo de teste)
Obs.:
Antes de criar um component, devemos criar o seu módulo antes, para que o angular possa
realizar as importações devidas.
Caso, o componente não identifique o seu módulo correspondente, basta adicionar a linha de comando acima:
--module shared/components/campos (caminho do módulo)

- comando para criar módulos no angular:
ng g (generate) m (module) shared/components/campos/input-text (caminho, e nome do arquivo) --nospec (evita a criação de um arquivo de teste)
 -->
