/*Raiz do Css - root*/
:root {
    /*Declaração de variáveis*/
    --vermelho: #e50914;
    --preto: #141414;
    --prata: #aaa;
}

/*Reset Css - *
    Deixa a aparência da página,
    como padrão (ou default),
    independente do navegador. 
*/
* {
    margin: 0;
    padding: 0;
    /* Limita os elementos - box-sizing
        Esta propriedade,
        indica que os elementos,
        irão respeitar o tamanho da página,
        não ultrapassando os seus limites.
    */
    box-sizing: border-box;
}

/*Estilo - elementos base*/
body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    /*  row, é o valor default, da propriedade flex-direction,
        ele deixa os elementos na horizontal
    */
    flex-direction: row;
    /*Alinha os itens na vertical (|) - align-items*/
    align-items: center;
    /*Alinha os itens na horizontal (--) - justify-contente
        space-between = gera um espaço automático,
        entre os elementos html (no caso h2 e nav, que estão dentro de container)
    */
    justify-content: space-between;
    margin-top: 5px;
}

header .container .logo {
    color: var(--prata);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.849) 50%, rgba(255, 0, 0, 0.849) 50%);
    padding: 5px;
}

header .container nav a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    border: none;
    color: var(--prata);
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

header .container nav a:hover {
    color: red;
}

main .trailer-filme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    margin-top: 10px;
    ;
}

main .trailer-filme iframe {
    width: 100%;
    height: 100%;
}

/*Estilo - filme principal*/
main .filme-principal {
    font-size: 15px;
    /*Definindo o plano de fundo do container - background
        url = nos permite inserir uma imagem, de acordo com o seu endereço;
        linear-gradient = define um contraste, no caso por cima de uma imagem.
    */
    /*Faz com que a imagem, cubra toda a área do container - background-size: cover;*/
    background-size: cover;
    height: 65%;
    display: flex;
    margin-left: 0%;
    /*  Alinha os elementos na horizontal (--) - flex-direction: column
        Obs.: O comportamento muda, em relação a outra implementação.
    */
    flex-direction: column;
    /*Alinha os itens na vertical (|) - justify-contente
        column = gera um espaço automático,
        Obs.: 
            - O justify acompanha sempre o flex-direction;
            - O align-items acompanha sempre o flex-direction.
    */
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 5%;
}

main .filme-principal .container {
    width: 75%;
}

main .filme-principal .container {
    margin-left: 20px;
}

main .filme-principal .container .titulo {
    margin-top: 10%;
    font-size: 35px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

main .filme-principal .container .descricao {
    margin-top: 10px;
    margin-bottom: 85px;
}


main .filme-principal .container .botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s ease all;
}

main .filme-principal .container .botao:hover {
    background-color: white;
    color: red;
}


.carrosel-filmes {
    margin-top: 10px;
}

.carrosel-filmes .box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes img {
    height: 5%;
}

footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: var(--vermelho)0.25rem solid;
    font-family: "Arial Black",Times;
}

footer .container .titulo {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: var(--prata);
    text-transform: uppercase;
}

footer .container .conteudo {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer .container .conteudo h6 {
    color: var(--prata);
    font-size: 20px;
}

footer .container .conteudo h6 a {
    color: var(--vermelho);
    text-decoration: none;
}