@media screen and (min-width: 1000px) {
    main .filme-principal {
        height: 25%;
    }
    main .filme-principal .descricao {
        width: 50%;
    }

}

@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    header .container nav {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    main .filme-principal {
        margin-top: 100px;
    }

    main .filme-principal .container .botoes {
        height: 250px;
    }

    main .filme-principal .container .botoes .botao {
        margin-top: 5px;
        padding: 20px;
    }

    footer .container .titulo {
        font-size: 20px;
    }

    footer .container .conteudo h6 {
        font-size: 15px;
    }
}

@media screen and (max-width:400px) {
    main .filme-principal {
        height: 98%;
    }

    main .filme-principal .titulo {
        font-size: 15px;
    }

    main .filme-principal .descricao {
        font-size: 10px;
        margin-bottom: 20px;
    }

    main .filme-principal .botao {
        font-size: 10px;
        height: 20px;
        padding: 5px;
    }

    footer .container .titulo{
        font-size: 15px;
    }

    footer .container .conteudo h6 {
        font-size: 10px;
    }
}