body {
    background-color: rgba(0, 0, 0, 0.349);
}

#coins {
    width: 100%;
}

#coins .media {
    border-style: solid;
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50% ;
}