<h2>Course List</h2>

<div class="form-group row">
  <div class="col-sm">
    <input [(ngModel)]="filter" class="form-control" placeholder="Filter by">
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Code</th>
      <th>Release Date</th>
      <th>Rating</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of filteredCourses">
      <td><img [src]="course.imageUrl"></td>
      <td>{{ course.name }}</td>
      <td>{{ course.price }}</td>
      <td>{{ course.code | lowercase | replace: '-' : ' ' }}</td>
      <!--Deixa as letras minúsculas, e substitui um caracter por outro-->
      <td>{{ course.releaseDate | date: 'dd/MM/yyyy' }}</td>
      <!--Formata a data para um padrão determinado-->
      <td>
        <app-star [rating]="course.rating"></app-star>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>

<!-- Anotações

- Para percorrer uma lista,
e mostrar os elementos em tela,
com o angular, basta usar o comando
"*ngFor="let elemento of lista"".
Exemplo: (neste cenário, estamos
preenchendo uma tabela)
<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Code</th>
      <th>Release Date</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>{{ course.image }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.price }}</td>
      <td>{{ course.code }}</td>
      <td>{{ course.releaseDate }}</td>
      <td>{{ course.rating }}</td>
    </tr>
  </tbody>
</table>

-Quando queremos mesclar elementos Html
com um dado de nosso componente, precisamos
envolver um dos atributos de um tag com "[]".
Exemplo: (Aqui estamos pegando o caminho das imagens,
que estão na nossa classe, e passando elas para a
tag img)
<img [src]="course.imageUrl">

-pipe ("|"): serve para alterar a exibição, ou forma,
como algo será mostrado em tela.
Exemplo:
  -pipe nativo:
  <td>{{ course.releaseDate | date: 'dd/MM/yyyy' }}</td> - Transforma a data em um paddrão específico
  <td>{{ course.code | lowercase }}</td> - Transforma as letras em minúsculas

  -pipe criado:
  <td>{{ course.code | replace: '-' : ' ' }}</td> - Substitui um caracter por outro
-->
