<form #courseForm="ngForm">
  <div class="form-row">
    <div class="col-md-6 offset-md-3">
      <h2>Course Info</h2>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2 offset-md-3">
      <label>Code</label>
      <input [(ngModel)]="course.code" required type="text" name="code" #courseCode="ngModel"
        [ngClass]="{'is-invalid': courseCode.invalid}" class="form-control">
      <!--Se o input estiver vázio, a mensagem abaixo aparecerá-->
      <div class="invalid-feedback">
        <span>Course code is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 offset-md-3">
      <label>Name</label>
      <input [(ngModel)]="course.name" required name="name" #courseName="ngModel"
        [ngClass]="{'is-invalid': courseName.invalid}" type="text" class="form-control">
      <!--Se o input estiver vázio, a mensagem abaixo aparecerá-->
      <div class="invalid-feedback">
        <span>Course name is required</span>
      </div>
    </div>
    <div class="form-group col-md-2 offset-md-1">
      <label>Price</label>
      <input [(ngModel)]="course.price" required type="number" name="price" #coursePrice="ngModel"
        [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control">
      <!--Se o input estiver vázio, a mensagem abaixo aparecerá-->
      <div class="invalid-feedback">
        <span>Course price is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 offset-md-3">
      <label>Release Date</label>
      <input [(ngModel)]="course.releaseDate" required type="text" name="releaseDate" #courseReleaseDate="ngModel"
        [ngClass]="{'is-invalid': courseReleaseDate.invalid}" class="form-control">
      <!--Se o input estiver vázio, a mensagem abaixo aparecerá-->
      <div class="invalid-feedback">
        <span>Course release date is required</span>
      </div>
    </div>
    <div class="form-group col-md-2 offset-md-1">
      <label>Rating</label>
      <input [(ngModel)]="course.rating" required type="number" name="rating" #courseRating="ngModel"
        [ngClass]="{'is-invalid': courseRating.invalid}" class="form-control">
      <!--Se o input estiver vázio, a mensagem abaixo aparecerá-->
      <div class="invalid-feedback">
        <span>Course rating is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-7 offset-md-3">
      <label>Description</label>
      <textarea [(ngModel)]="course.description" required type="text" name="description" #courseDescription="ngModel"
        [ngClass]="{'is-invalid': courseDescription.invalid}" rows="5" cols="10" class="form-control"></textarea>
      <!--Se o input estiver vázio, a mensagem abaixo aparecerá-->
      <div class="invalid-feedback">
        <span>Course description is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2 offset-md-3">
      <button [disabled]="courseForm.invalid" (click)="save" class="form-control btn btn-primary">Save</button>
    </div>
    <div class="form-group col-md-2 offset-md-3">
      <button [routerLink]="['/courses']" class="form-control btn btn-primary">Back</button>
    </div>
  </div>
</form>

<!-- Anotações
    - Variável de template = nos proporciona manipular os dados, e fazer operações,
    como validação, por exemplo. Elas são representadas como: "#classeNomeEscolhido".
    Exemplo:
    <input [(ngModel)]="course.name" name="name" >>#courseName="ngModel"<< class="form-control">
    - ngClass = permite passar uma classe dinâmicamente, para uma propriedade.
    Exemplo: (Aqui, criamos uma classe para validar se o input está vázio)
    <input [(ngModel)]="course.name" required name="name" #courseName="ngModel"
        [ngClass]="{'is-invalid': courseName.invalid}" class="form-control">
    - Para mesclar uma propriedade html, com uma variável de template, precisamo envolver a propriedade
    htmk em '[]'.
    Exemplo:
    <button [disabled]="courseForm.invalid" class="btn btn-primary mr-2">Save</button>
-->
