.form-control:focus {
  border-color: #ff79c6;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ff79c6;
  background-color: #44475a;
  color: #f8f8f2;
}

input {
  background-color: #44475a;
  border-color: #f8f8f2;
  width: 100%;
}

table {
  background-color: #44475a;
  border-style: solid;
  border-color: #f8f8f2;
  border-width: 1px;
}

table thead {
  color: #ff79c6;
  text-transform: uppercase;
}

table tbody {
  color: #f8f8f2;
}

table tbody tr td img {
  width: 40px;
  height: 40px;
}

table tbody tr td .btn-primary {
  background-color: #282a36;
  color: #ff79c6;
  border-color: #f8f8f2;
}
