<div class="container">
  <app-course-list></app-course-list>
</div>

<!-- Anotações:

-Interpolação = {{}};

-One way data binding
Quando pegamos uma informação,
do nosso componente, e a exibimos em tela.
É um caminho de uma única via, ou seja,
você só exibe a informação, sem possibilidade
de alterá-la.

Exemplo de utilização:
<input [ngModel]="name" name="name">

-Two way data binding
Pega os valores do componente,
exibe em tela, e permite a modificação,
dos valores.

Exemplo de utilização:
<input [(ngModel)]="name" name="name">

-Para subir a aplicação/projeto:
comando = ng serve 
-->

