<app-nav-bar></app-nav-bar>
<div class="container mt-4">
  <!--Como estamos trabalhando com rotas, não precisamos referenciar o nosso componente por meio de tags, quando uma determinada url for chamada, o mesmo será iniciado-->
  <!-- <app-course-list></app-course-list> -->
  <!--É uma forma de avisar o angular, que nós estamos trabalhando com rotas, ele faz o switch (troca) das nossas rotas definidas-->
  <router-outlet></router-outlet>
</div>

<!-- Anotações:

-Interpolação = {{}};

-One way data binding
Quando pegamos uma informação,
do nosso componente, e a exibimos em tela.
É um caminho de uma única via, ou seja,
você só exibe a informação, sem possibilidade
de alterá-la.

Exemplo de utilização:
<input [ngModel]="name" name="name">

-Two way data binding
Pega os valores do componente,
exibe em tela, e permite a modificação,
dos valores.

Exemplo de utilização:
<input [(ngModel)]="name" name="name">

-Para subir a aplicação/projeto:
comando = ng serve 
-->
