<nav class="navbar navbar-expand-lg navbar-dark">
  <a [routerLink]="['/courses']" class="navbar-brand">Course Manager</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavBar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse show" id="navbarSupportedContent" [ngClass]="{'show': navbarOpen}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/courses']" routerLinkActive="active" class="nav-link">Courses</a>
      </li>
    </ul>
  </div>
</nav>
