.sidenav-container {
  height: 100%;
  width: 100%
}

.sidenav {
  width: 100%;
  box-shadow: 3px 0 6px #282a36;
  background-color: #44475a;
}

mat-toolbar {
  background-color: #282a36;
}

mat-menu {
  background-color: red;
}

mat-sidenav-container {
  background-color: #44475a;
}

mat-sidenav-container mat-sidenav mat-toolbar {
  color: #f8f8f2;
}

.app-content {
  min-height: calc(100vh - 110px);
}

.app-title {
  text-transform: uppercase;
  padding-left: 26px;
}

.header-toolbar {
  justify-content: space-between;
  background-color: #282a36;
  color: #f8f8f2;
}
