mat-toolbar {
  background-color: #282a36;
}

mat-card {
  background-color: #282a36;
}

.app-title {
  color: #f8f8f2;
  margin-bottom: 10px;
}

.home-content {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  justify-content: space-between;
  padding: 10px;
}

.home-card {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.home-content .home-card mat-card-content mat-card-title {
  font-size: 14px;
  text-align: center;
}

.home-content .home-card mat-card-content mat-card-subtitle {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.home-content .home-card mat-card-content p {
  font-size: 12px;
  text-align: justify;
}

.filtro-listagem {
  width: calc(100% - 42px);
}

.mat-card-image {
  height: 50%;
  width: 70%;
  display: block;
}

mat-card-actions .mat-raised-button{
  background-color: #6272a4;
}

@media screen and (min-width: 525px) {
  .home-content {
    .home-card {
      width: calc(50% - 52px);
    }
  }
}

@media screen and (min-width: 800px) {
  .home-content {
    .home-card {
      width: calc(33.333% - 52px);
    }
  }
}

@media screen and (min-width: 1300px) {
  .home-content {
    .home-card {
      width: calc(25% - 52px);
    }
  }
}
