mat-toolbar {
  background-color: #282a36;
}

mat-card {
  background-color: #282a36;
}

.app-title {
  color: #f8f8f2;
  margin-bottom: 10px;
}

.home-content {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  justify-content: space-between;
  padding: 10px;
}

.home-card {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.home-content .home-card mat-card-header mat-card-title {
  text-align: start;
}

.home-content .home-card mat-card-header mat-card-subtitle {
  text-align: start;
  text-transform: uppercase;
}

.filtro-listagem {
  width: calc(100% - 42px);
}

.mat-card-image {
  height: 50%;
  width: 50%;
  margin-left: 25%;
  display: block;
}

@media screen and (min-width: 525px) {
  .home-content {
    .home-card {
      width: calc(50% - 52px);
    }
  }
}

@media screen and (min-width: 800px) {
  .home-content {
    .home-card {
      width: calc(33.333% - 52px);
    }
  }
}

@media screen and (min-width: 1300px) {
  .home-content {
    .home-card {
      width: calc(25% - 52px);
    }
  }
}
